node_modules
.next
dist
build
.DS_Store
.env
.env.local
.env.*.local
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.zip
*.tar.gz
*.egg-info
.idea
coverage
coverage.*
htmlcov
*.egg
*.log
*.swp
*.swo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
venv/
.pytest_cache/
